.update-prompt {
  text-align: center;
  float: center;
  width: 100%;
  font: 20px arial, sans-serif;
}

.update-location {
  background-color: black;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  float: center;
}