/* Random - 123 */

html {
	height: 100%;
}

body {
	font-family: 'Allerta'; font-size: 22px;
	background-color: black;
	megin: 0;
}

.bottom-bar {
	height: 150px;
	width: 100vw;
	float: bottom;
	display: inline-block;
	position: fixed;
}

.credit-name p {
	position: fixed;
	height: 100px;
	width: 100vw;
	line-height: 15%;
	color: #555555;
	text-align: middle;
	opacity: 0.5;
	padding-left: 20px;
}

.map {
	position: fixed;
	height: 130vh;
	width: 100vw;
	top: -50px;
}