html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(119, 201, 212, 1), rgba(87, 188, 144, 1));
}

body {
  font: 20px arial, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 100%;
}

#update-location {
  border: 2px solid powderblue;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 30%;
  width: 100%;
  font-size: 40px;
  padding-bottom: 0px;
  border-top: 0px;
  float: center;
  background-color: rgba(0, 0, 0, 0.15);
}

#box {
  border: 2px solid powderblue;
  width: 100%;
  height: 70%;
  text-align: center;
  float: center;
  display: block;
  margin: 0;
  color: white;
  border-bottom: 0px;
  position: relative;
  vertical-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

#trainer-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 70px;
  float: center;
}

